<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
         <link rel="stylesheet" href="\style.css">
        <title>Test ur LUCK!</title>


        <meta name="viewport" content="width=device-width', 'initial-scale=1">
    </head>
    <body>
        <div class="gallery" id="m">
            <form action="/third" method="post">
                <label>Enter card index</label><br>
                <input type="text" name="index">
                <button class="butt" type="submit">index</button><br>
                <button class="butt" type="submit" name="pop">pop</button>
                <button class="butt" type="submit" name="shuffle">shuffle</button>
                <button class="butt" type="submit" name="get_random">get random</button>
            </form>
        </div>
        <div class="gallery">
        <br><br>{{content}}
    </div>
    </body>
</html>